html {
    min-height: 100%;
    position: relative;
}

body {
    padding: 0;
    padding-top: 100px;
    margin: 15px;
}

footer {
    color: white;
    background-color: black;
}

a#enlace{
    position: relative;
    bottom: 50px;
}
